@import "./colors";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Amatic SC", sans-serif;
	font-family: "Comfortaa", sans-serif;
}

// HEADER

.header {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding: 0.8rem 2rem;
		position: sticky;
		top: 0;

		.brand-title {
			font-size: 3rem;
			font-weight: bold;
			letter-spacing: 1px;
			color: $main-color;
		}

		.navbar-items {
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			text-align: center;
			font-size: 3rem;
			font-weight: bold;
			background-color: $main-color;
			transform: translateX(100%);
			transition: all 0.3s ease-in-out;

			.navbar-item {
				list-style: none;
				.link {
					color: $pure-white;
					outline-color: none;
					text-decoration: none;
					letter-spacing: 1.5px;
				}
			}
		}

		.burger {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-end;
			position: relative;
			height: 3.2rem;
			width: 3.6rem;
			background: none;
			border: none;
			transition: all 0.3s ease-in-out;

			.bar {
				width: 100%;
				height: 0.5rem;
				border-radius: 0.5rem;
				background-color: $main-color;
			}
		}
		.active-navbar-items {
			transform: translateX(0%);
		}
		.active-burger {
			z-index: 100;
			.bar {
				background-color: $pure-white;
			}
		}
	}
}
