@import "./sass/colors";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Amatic SC", sans-serif;
	font-family: "Comfortaa", sans-serif;
}

// HEADER

.header {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding: 2rem;

		.brand-title {
			color: $main-color;
			font-size: 3rem;
			font-weight: bold;
			letter-spacing: 1px;

			.fa-paw {
				color: $main-color;
			}
		}

		.navbar-items {
			display: flex;
			justify-content: space-around;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;
			font-size: 3rem;
			font-weight: bold;
			background: $main-color;
			text-align: center;
			transform: translateY(-100%);
			transition: all 0.4s ease-in-out;
			z-index: 100;

			.navbar-item {
				list-style: none;
				.link {
					color: $pure-white;
					outline-color: none;
					text-decoration: none;
					letter-spacing: 1.5px;
				}
			}
		}

		.burger {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: flex-end;
			position: relative;
			height: 3.2rem;
			width: 3.6rem;
			background: none;
			border: none;
			transition: all 0.4s ease-in-out;
			cursor: pointer;
			z-index: 1000;

			.bar {
				width: 100%;
				height: 0.5rem;
				border-radius: 0.5rem;
				background-color: $main-color;
			}
		}
		.active-navbar-items {
			transform: translateY(0%);
		}
		.active-burger {
			z-index: 100;
			.bar {
				background-color: $pure-white;
			}
		}
	}

	.hero-box {
		height: 60vh;
		background-image: url("../public/images/hero-mobile.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		.hero-shadow {
			position: absolute;
			width: 100%;
			height: 60%;
			background-color: rgba(0, 0, 0, 0.6);
		}

		.hero-text-box {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 45%;
			left: 45%;
			padding: 2rem 10rem 12rem 2rem;
			transform: translate(-50%, -50%);

			.hero-title {
				color: $pure-white;
				font-size: 4.2rem;
				font-weight: bold;
			}

			.hero-text {
				padding: 1.8rem;
				color: $pure-white;
				font-size: 2.4rem;
				font-family: "Amatic SC", sans-serif;
				font-weight: bold;
				letter-spacing: 1.6px;

				.big-text {
					color: $main-color;
					font-size: 3.4rem;
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	}
}

// HEADER MEDIA
@media only screen and (min-width: 900px) {
	.header {
		.navbar {
			position: fixed;
			padding: 2rem 6rem;
			width: 100%;
			background-color: rgba(255, 252, 252, 0.85);
			z-index: 100;

			.brand-title {
				color: $main-color;
				font-size: 3rem;
				font-weight: bold;
				letter-spacing: 1px;
				cursor: pointer;
			}

			.navbar-items {
				justify-content: space-between;
				flex-direction: row;
				gap: 2rem;
				position: unset;
				top: 0;
				left: 0;
				height: inherit;
				width: max-content;
				font-size: 3rem;
				background: none;
				transform: translateY(0);

				.navbar-item {
					.link {
						color: $main-color;
						padding: 2rem 0.5rem;
						letter-spacing: 1px;
						cursor: pointer;
					}

					.link:hover {
						background: $pure-white;
					}
				}
			}

			.burger {
				display: none;
			}
		}

		.hero-box {
			height: 100vh;
			background-image: url("../public/images/herodesktop.jpg");

			.hero-shadow {
				height: 100%;
				background-color: rgba(0, 0, 0, 0.35);
			}

			.hero-text-box {
				top: 60%;
				left: 35%;
				padding: none;

				.hero-title {
					font-size: 6rem;
				}

				.hero-text {
					padding: 3rem;
					font-size: 4rem;
					letter-spacing: 1.8px;

					.big-text {
						font-size: 4.4rem;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1200px) {
	.header {
		.navbar {
			.brand-title {
				font-size: 3.4rem;
			}

			.navbar-items {
				gap: 3rem;
				font-size: 3.4rem;
			}
		}
	}
}
@media only screen and (min-width: 1400px) {
	.header {
		.navbar {
			.brand-title {
				font-size: 3.8rem;
			}

			.navbar-items {
				gap: 4rem;
				font-size: 3.8rem;
			}
		}
	}
}
@media only screen and (min-width: 1600px) {
	.header {
		.navbar {
			.brand-title {
				font-size: 4rem;
			}

			.navbar-items {
				gap: 5rem;
				font-size: 4rem;
			}
		}
	}
}
